header
    nav
        ul 
            li
                a(href="/") Logo
            li
                p #{user.username}
            li
                ion-icon(name="settings-outline")
                