a(href="/register-cow") Register Cow
a(href="/view-cows") View Cows
a(href="/register-milk") Register Milk
a(href="/view-milk") View Milk
a(href="/register-new-birth") Register New Cow Birth
a(href="/register-vaccination") Register Vaccination
a(href="/show-vaccination") Show Vaccination History 
