.login {
    outline: 1px solid black;
    display: grid;
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-6);
    margin: var(--spacing-6) auto;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr;
}

.login > h1 {
    justify-self: center;
    margin-bottom: var(--spacing-4);
    text-transform: uppercase;
    word-spacing: 0.5rem;
}

.login > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: var(--spacing-1);
}

.login > form > input {
    padding: var(--spacing-1) var(--spacing-2);
    border: 1px solid var(--color-secondary-text);
    border-radius: 5px;
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary-secondary);
    transition: all 0.2s ease-in-out;
}

.login > form > input:focus {
    outline: 1px solid var(--color-secondary-text);
    color: var(--color-primary-text);
}

.login > form > button {
    margin-top: var(--spacing-2);
}