@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    /* Font */
    --font-family: 'Lato', sans-serif;
    --font-size: 18px;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /* Colors */
    --color-primary-text: #222222;
    --color-secondary-text: #434242;
    --color-primary-background: #F3EFE0;
    --color-secondary-background: #22A39F;
    /* Spacing */
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 2rem;
    --spacing-6: 4rem;
}

:is(
    *,
    *::before,
    *::after
) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary-text);
    background-color: var(--color-primary-background);
    width: 100vw;
    height: minmax(100vh, auto);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--color-primary-text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: var(--spacing-2) var(--spacing-4);
    border: 1px solid var(--color-secondary-text);
    border-radius: 5px;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-text);
    background-color: var(--color-primary-background);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--color-secondary-background);
    color: var(--color-primary-background);
}
