.register-new-birth-form {
    outline: 1px solid black;
    display: grid;
    height: auto;
    width: 500px;
    margin: var(--spacing-6) auto;
    padding: var(--spacing-5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-new-birth-h {
    margin: var(--spacing-4) auto;
}

.register-new-birth-form > form {
    display: grid;
    grid-gap: var(--spacing-4);
    height: auto;
    width: 100%;
    padding: var(--spacing-4) var(--spacing-3);
}

.form-group {
    display: grid;
    grid-gap: var(--spacing-2);
    height: auto;
    width: 100%;
}

.form-group > label {
    height: auto;
    width: 100%;
    font-weight: var(--font-weight-bold);
}

.form-group > label > span {
    margin-left: var(--spacing-2);
    color: var(--color-error);
}

.form-group > input {
    height: 40px;
    width: 100%;
    padding: var(--spacing-2);
    margin-bottom: var(--spacing-4);
    border: 1px solid var(--color-secondary-text);
    border-radius: var(--border-radius);
    outline: none;
    font-size: calc(var(--font-size) - 4px);
    color: var(--color-primary-text);
}

.form-group > input:focus {
    border: 2px solid var(--color-primary-text);
}

.form-group > input[type="date"] {
    height: 40px;
    width: 100%;
    padding: var(--spacing-2);
    border: 1px solid var(--color-secondary-text);
    border-radius: var(--border-radius);
    outline: none;
    font-size: calc(var(--font-size) - 4px);
    color: var(--color-primary-text);
}

.form-group > input[type="date"]:focus {
    border: 2px solid var(--color-primary-text);
}

.form-group > input[type="radio"] {
    height: 20px;
    width: 20px;
    padding: var(--spacing-2);
    border: 1px solid var(--color-secondary-text);
    border-radius: var(--border-radius);
    outline: none;
    font-size: calc(var(--font-size) - 4px);
    color: var(--color-primary-text);
}

.form-check:has(input[type="radio"]) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: var(--spacing-2);
}
