.main-view-cows {
    margin: var(--spacing-5) 0;
}

.view-cows__table {
    width: 100%;
    height: fit-content;
    margin: var(--spacing-6) 0;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: var(--spacing-5) 0;
}

.filter > a {
    margin: 0 var(--spacing-4);
    text-decoration: underline;
    font-weight: var(--font-weight-bold);
    transition: all 0.2s ease-in-out;
}

.filter > a:hover {
    color: var(--color-secondary-background);
}

.table {
    width: 100%;
    height: auto;
    display: grid;
    width: 100%;
    height: fit-content;
    grid-gap: 15px;
}

.table-cow {
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-columns: 100px 1fr 300px 200px 150px;
    text-align: center;
    outline: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.table-cow:hover {
    background-color: var(--color-secondary-background);
}

.table-cow:hover > * > p {
    color: var(--color-primary-background) !important;
}

.table-cow:hover > * > p > span {
    color: var(--color-primary-background) !important;
}

.table-cow > * {
    margin-top: 8px;
}

.table-cow__id {
    text-align: start;
    margin-left: var(--spacing-4);
}

.table-cow__name {
    text-align: start;
}

.table-cow__color {
    text-align: end;
    margin-right: var(--spacing-4);
}