include templates/_page-head.pug
    link(rel="stylesheet", href="style/dashboard.css")
    title Dashboard
body
    include templates/components/_header.pug

    .container
        .main-dashboard
            h1 Dashboard
            p Welcome to the dashboard 
                span.username #{user.username}!
            .grid-services
                include templates/components/_services.pug

    include templates/components/_error.pug
    include templates/components/_success.pug
    include templates/_page-script.pug
