include templates/_page-head.pug
    link(rel="stylesheet" href="/style/login.css")
    title Login Page
body
    div.login
        h1 Login Page
        form(action="/login", method="POST")
            label(for="username") Username :
            input(type="text", name="username", id="username")
            label(for="password") Password :
            input(type="password", name="password", id="password")
            button(type="submit").btn Login
