include templates/_page-head.pug
    link(rel="stylesheet", href="/style/register-new-birth.css")
    title register-new-birth
body
    include templates/components/_header.pug
    .container
        .register-new-birth-form
            h1.register-new-birth-h Register New Birth
            form(action="/register-new-birth", method="POST")
                .form-group
                    label(for="name") Cow Name
                        span *
                    input#cow-name.form-control(type="text", name="name", placeholder="Bessie" required)
                .form-group
                    label(for="birthday") Birth Date
                        span *
                    input#birth-date.form-control(type="date", name="birthday" placeholder="YYYY-MM-DD" required value=today)
                .form-group
                    label(for="color") Color
                        span *
                    //- radio buttons for color
                    .form-check
                        input#color-white.form-check-input(type="radio", name="color", value="white" required checked)
                        label.form-check-label(for="color-white") White
                        input#color-black.form-check-input(type="radio", name="color", value="black" required)
                        label.form-check-label(for="color-black") Black
                        input#color-brown.form-check-input(type="radio", name="color", value="brown" required)
                        label.form-check-label(for="color-brown") Brown
                        input#color-spotted.form-check-input(type="radio", name="color", value="spotted" required)
                        label.form-check-label(for="color-spotted") Spotted
                .form-group
                    //- label(for="breed") Breed
                    //-     span *
                    //- input#breed.form-control(type="text", name="breed", placeholder="Holstein" required)
                    label(for="breed") Breed
                        span *
                    input#breed.form-control(list="breeds", name="breed", placeholder="Holstein" required)
                    datalist#breeds
                        option(value="Holstein")
                        option(value="Jersey")
                        option(value="Guernsey")
                .form-group
                    label(for="motherId") Mother ID
                    //- with regex, only allow numbers and string null
                    input#mother-id.form-control(type="text", name="motherId", placeholder="123456789 or null")
                //- submit button
                button.btn.btn-primary(type="submit") Register New Birth


    include templates/components/_error.pug
    include templates/_page-script.pug
